body{
	font-family: arial;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
	
	 }


 ul{
	padding: 0;
	margin: 0;
}


.container {
	width: 80%;
	margin: auto;
	overflow: hidden;

}
/* Header **/
header{
	background-color: #35424a;
	color: #ffffff;
	padding-top: 30px;
	min-height: 50px;
	border-bottom: 3px solid #e8491d;
	position: sticky;

}

header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}


header li{
    display: inline;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
}

header #branding{
	float: left;
  
}
header #branding img{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 20px;


}

header a:hover {
	color: #cccccc;
	font-weight: bold;
}

/*showcase*/
#showcase {
      min-height: 400px;
      background-image: url("../img/abayaalogo.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-align: center;
      color: #fff;

}

#showcase h1{
      margin-top: 50px;
      margin-bottom: 10px;
      font-size: 50px;

}

#showcase p{
	  font-size: 20px;
}

#newsletter {
	font-size: 20px;
	padding: 20px;
	background-color: #35424a;
	color: #fff;

}
#newsletter h1{
       float: left;

}

#newsletter form{
	float: right;
	margin-top: 40px;
}

#boxes {
	padding: 10px;
	background-color: #e8491d;
	color: #fff;
	max-height: 800px;
	
	
}


.box1 {
	width: 300px;
	float: left;
	/*padding-right: 300px;*/
}

.box2 {
	width: 300px;
	float: right;
}

.box3 {
	float: right;
	width: 300px;
}


.box4 {
	width: 300px;
	float: left;
}

.box5 {
	width: 300px;
	float: right;

}


.foot {
	text-align: center;
	background-color: #35424a;
	margin-top: 0px;
	margin-bottom: 0px;
}

.foot p{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 50px;
	color: #fff;
}

/*About Page*/

#container {
	background-color: #e8491d;
	padding: 10px;
	color: #fff;
	width: 100%;
	padding-right: 20px;
	min-height: 500px;
	

}

#container a{
     text-decoration: none;
     color: #35424a;

}
#container a:hover{
	color: #fff;
}
.foot2 {
	text-align: center;
	background-color: #35424a;
	margin-top: 0px;
	margin-bottom: 0px;

}

.foot2 p{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 50px;
	color: #fff;
}

